/* COLORS */
$g-brand-color-1: #8FD8D2;
$g-brand-color-2: #FEDCD2;
$g-brand-color-3: #DF744A;
$g-brand-color-4: #DCB239;
$g-brand-color-5: #8C2F75;
$g-brand-color-6: #333333;

$g-brand-color-danger: #df4759;
$g-brand-color-grey: #aaa;

$g-text-white: #fff;
$g-text-dark: $g-brand-color-6;

$g-trans-base: all .3s ease-in-out;

// For Bottom Sticky Footer
html, body, #root, .App {
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

section {
  padding: 75px 0;
}

.aside {
  position: relative;
}

.footer {
  flex-shrink: 0;
}

h1 {
  font-family: 'Cormorant', serif;
  font-size: 60px;
  font-weight: 800;
}

h2 {
  padding-bottom: 20px;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

button, a {
  cursor: pointer;
  outline: none;
  transition: $g-trans-base;
}

ul {
  list-style-type: none;
}

@mixin absolute-full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.container {
  max-width: 1305px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.aside {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 25%;
}

.header {
  position: sticky;
  top: 0;
  padding: 15px 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
  z-index: 20;

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo-box {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: -13px;
  }

  &__logo-wrapper {
    width: 60px;
    height: 60px;
  }

  &__logo-link {
    @include absolute-full;
    display: block;
    z-index: 1;

    &:hover {
      & ~ .header__logo-txt {
        transform: translateX(-11px);
      }
    }
  }

  &__logo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__logo-txt {
    transform: translateX(-22px);
    font-family: 'Cormorant', serif;
    font-size: 40px;
    font-weight: 200;
    transition: $g-trans-base;

    span {
      &:first-child {
        color: $g-brand-color-5;
      }

      &:last-child {
        color: $g-brand-color-3;
      }
    }
  }

  &__user-interaction {
    list-style-type: none;
    display: flex;
    align-items: center;
  }

  &__user-interaction-item {
    margin-left: 20px;
    padding-left: 0;
  }

  &__user-interaction-link {
    cursor: pointer;
    font-family: 'Cormorant', serif;
    font-size: 18px;
    font-weight: 600;
    color: $g-text-dark;

    &:hover {
      color: $g-brand-color-4;
    }

    & > i {
      display: inline-block;
      margin-right: 5px;
    }

    &--basket {
      position: relative;
      display: flex;
      justify-content: center;
      font-size: 32px;
      font-family: 'Poppins', sans-serif;

      &:hover {
        color: $g-text-dark;

        .header__user-interaction-product-count {
          transform: scale(1.1) translateZ(0);
        }

        .header__basket-dropdown-wrapper {
          opacity: 1;
          transform: translateY(0);
          visibility: visible;
          z-index: 5;
        }
      }
    }
  }

  &__user-interaction-product-count {
    position: absolute;
    bottom: -9px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: $g-brand-color-4;
    border-radius: 50%;
    font-size: 13px;
    font-weight: 600;
    transform: scale(1) translateZ(0);
    backface-visibility: hidden;
    transition: $g-trans-base;
    z-index: 20;
  }

  &__basket-dropdown-wrapper {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    display: block;
    min-width: 350px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
    opacity: 0;
    transform: translateY(-5px);
    visibility: hidden;
    transition: $g-trans-base;
    z-index: 10;
  }

  &__basket-dropdown-item {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 15px 0;
    border-bottom: 1px solid #eee;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }

    &:nth-child(odd) {
      .header__basket-dropdown-item-img-wrapper {
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(254,220,210,1) 100%);
      }
    }

    &:nth-child(even) {
      .header__basket-dropdown-item-img-wrapper {
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(143,216,210,1) 100%);
      }
    }
  }

  &__basket-dropdown-item-img-wrapper {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50px;
    height: 50px;
    padding: 8px;
    border-radius: 5px;
  }

  &__basket-dropdown-item-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__basket-dropdown-item-info {
    flex-grow: 1;
    padding: 0 15px;
    font-size: 13px;
  }

  &__basket-dropdown-item-info-price {
    display: block;
    margin-left: auto;
    color: $g-brand-color-4;
  }

  &__basket-dropdown-item-trash-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30px;
    height: 30px;
    margin-left: auto;
    background-color: transparent;
    border: 1px solid $g-text-dark;
    border-radius: 5px;
    font-size: 16px;
    color: $g-text-dark;

    &:hover {
      background-color: $g-text-dark;
      color: $g-text-white
    }
  }

  &__basket-dropdown-text-empty {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: $g-brand-color-3;
  }

  &__basket-dropdown-to-basket-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    padding: 8px;
    background-color: $g-brand-color-3;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 18px;
    color: $g-text-white;

    &:hover {
      background-color: transparent;
      border: 1px solid $g-brand-color-3;
      color: $g-brand-color-3;
    }
  }
}

.navbar {
  margin: auto;

  &__menu {
    list-style-type: none;
    display: flex;
    align-items: center;
  }

  &__menu-item {
    margin-left: 24px;
  }

  &__link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-family: 'Cormorant', serif;
    font-size: 20px;
    font-weight: 600;
    color: $g-text-dark;
    transition: $g-trans-base;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $g-brand-color-3;
      transition: $g-trans-base;
    }

    &:hover {
      color: $g-brand-color-3;

      &::after {
        width: 100%;
      }
    }

    &--is-active {
      color: $g-brand-color-3;

      &::after {
        display: none;
      }
    }
  }
}

.banner {
  display: flex;
  align-items: center;
  min-height: 505px;
  padding: 50px 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(143, 216, 210, 1) 100%);

  &__container {
    display: flex;
    align-items: center;
  }

  &__title {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 75%;

    span {
      color: $g-brand-color-3;
    }
  }

  &__img-wrapper {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 35%;
  }

  &__img {
    display: block;
    width: 500px;
    height: 500px;
    object-fit: contain;
  }
}

.products {
  &__container {
    display: flex;
    flex-direction: row-reverse;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 75%;
    padding-left: 20px;

    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
  }

  &__filter {
    position: sticky;
    top: 120px;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
    border-radius: 5px;
    text-align: center;
    z-index: 1;
  }
}

.product {
  &__item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    transition: $g-trans-base;

    &:nth-child(odd) {
      .product__item-img-wrapper {
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(254, 220, 210, 1) 100%);
      }
    }

    &:nth-child(even) {
      .product__item-img-wrapper {
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(143, 216, 210, 1) 100%);
      }
    }

    &:hover {
      box-shadow: rgba(0, 0, 0, .35) 0 5px 15px;
    }
  }

  &__item-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
  }

  &__item-img-wrapper {
    position: relative;
    padding: 22px;
    height: 200px;
    overflow: hidden;

    &:hover {
      .product__item-img-overlay {
        opacity: 1;
      }
    }
  }

  &__item-img-overlay {
    @include absolute-full;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0.33657212885154064) 100%);
    opacity: 0;
    transition: $g-trans-base;
  }

  &__item-link {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    border: 1px solid #fff;
    border-radius: 4px;
    text-decoration: none;

    &::after {
      content: "";
      @include absolute-full;
      width: 100%;
      height: 100%;
      background-color: $g-brand-color-4;
      transform: translateY(100%);
      transition: $g-trans-base;
      z-index: 1;
    }

    &:hover {
      border: 1px solid $g-brand-color-4;

      &::after {
        transform: translateY(0);
      }
    }
  }

  &__item-link-txt {
    position: relative;
    display: block;
    padding: 5px 10px;
    background-color: transparent;
    color: #fff;
    z-index: 5;
  }

  &__item-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__item-info-wrapper {
    padding: 15px;
  }

  &__item-title {
    margin-bottom: 10px;
    font-family: 'Cormorant', serif;
    font-size: 24px;
    font-weight: 400;
    color: $g-brand-color-3;
  }

  &__item-name {
    margin-bottom: 10px;
    font-family: 'Cormorant', serif;
    color: $g-brand-color-5;
  }

  &__item-info-txt {
    margin-bottom: 10px;
    font-size: 14px;
  }

  &__item-delivery {
    display: inline-block;
    margin-top: auto;
    margin-bottom: 10px;
    padding: 7px 13px;
    background-color: $g-brand-color-3;
    border-radius: 4px;
    font-size: 10px;
    color: $g-text-white;
  }

  &__item-price {
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 600;
    color: $g-brand-color-4;
  }

  &__item-add-btn {
    position: relative;
    overflow: hidden;
    padding: 7px 13px;
    background-color: #fff;
    border: 1px solid $g-brand-color-5;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    color: $g-brand-color-5;

    &::after {
      content: "";
      @include absolute-full;
      width: 100%;
      height: 100%;
      background-color: $g-brand-color-5;
      transform: translateY(100%);
      transition: $g-trans-base;
      z-index: 1;
    }

    &:hover {
      color: $g-text-white;

      &::after {
        transform: translateY(0);
      }
    }

    &--remove {
      border: 1px solid $g-brand-color-danger;
      color: $g-brand-color-danger;

      &:after {
        background-color: $g-brand-color-danger;
      }
    }

    &--disabled {
      pointer-events: none;
      border: 1px solid $g-brand-color-grey;
      color: $g-brand-color-grey;
    }
  }

  &__item-add-btn-txt {
    position: relative;
    display: inline-flex;
    align-items: center;
    z-index: 5;

    i {
      display: inline-block;
      font-size: 16px;
      margin-right: 10px;
    }
  }
}

.basket {
  &__inner {
    display: flex;
  }

  &__items-repeater {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 75%;
    padding-right: 40px;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 10px;
    border: 1px solid $g-brand-color-grey;
    border-radius: 5px;
    margin-bottom: 25px;
    transition: $g-trans-base;

    &:nth-child(odd) {
      .basket__item-img-wrapper {
        background: linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(254, 220, 210, 1) 100%);
      }
    }

    &:nth-child(even) {
      .basket__item-img-wrapper {
        background: linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(143, 216, 210, 1) 100%);
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    }
  }

  &__item-img-wrapper {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px;
    height: 100px;
    margin-right: 20px;
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
  }

  &__item-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__item-title,
  &__item-price,
  &__item-count {
    flex: 1;
    padding-right: 20px;
  }

  &__item-title {
    font-size: 24px;
    color: $g-brand-color-3;
  }

  &__item-price {
    font-size: 26px;
    color: $g-brand-color-4;
  }

  &__item-count {
    display: flex;
    flex: 2;
    align-items: center;
    text-align: right;
  }

  &__item-in-stock {
    padding-right: 20px;
    font-size: 13px;
    text-align: left;
  }

  &__item-select {
    padding: 8px;
    font-size: 20px;
    outline: none;
    border: 1px solid $g-brand-color-5;
    color: $g-brand-color-5;
  }

  &__basket-item-trash-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30px;
    height: 30px;
    margin-left: auto;
    background-color: transparent;
    border: 1px solid $g-text-dark;
    border-radius: 5px;
    font-size: 16px;
    color: $g-text-dark;

    &:hover {
      background-color: $g-text-dark;
      color: $g-text-white
    }
  }

  &__summary {
    position: sticky;
    top: 120px;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
    border-radius: 5px;
    text-align: center;
    z-index: 1;
  }

  &__summary-title {
    margin-bottom: 12px;
    font-size: 20px;
  }

  &__summary-total {
    margin-bottom: 20px;
    font-size: 18px;
    color: $g-brand-color-3;
  }

  &__summary-proceed-btn {
    position: relative;
    overflow: hidden;
    padding: 7px 13px;
    background-color: #fff;
    border: 1px solid $g-brand-color-5;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    color: $g-brand-color-5;

    &::after {
      content: "";
      @include absolute-full;
      width: 100%;
      height: 100%;
      background-color: $g-brand-color-5;
      transform: translateY(100%);
      transition: $g-trans-base;
      z-index: 1;
    }

    &:hover {
      color: $g-text-white;

      &::after {
        transform: translateY(0);
      }
    }
  }

  &__summary-proceed-btn-txt {
    position: relative;
    display: inline-flex;
    align-items: center;
    z-index: 5;
  }
}

.social {
  list-style-type: none;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  border-radius: 4px 0 0 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
  text-align: center;

  &__item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 22px;
    color: $g-text-dark;

    &:hover {
      color: $g-brand-color-4;
    }
  }
}

.adSection {
  padding: 0;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 365px;
  }

  &__item {
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      @include absolute-full;
      background-color: rgba(0, 0, 0, .1);
    }

    &:hover {
      .adSection__item-info {
        transform: translateY(0);
      }
    }
  }

  &__item-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item-info {
    @include absolute-full;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    transform: translateY(-100%);
    transition: $g-trans-base;
    z-index: 1;
  }

  &__item-btn {
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    font-size: 22px;
    color: $g-text-white;
  }
}


